a {
  text-decoration: none;
}
.card {
  height: 100%;
  transition: height .2s ease-in;

  &:hover {
    background-color: var(--bs-blue);
    color: white;
    transition: all .13s ease;

    & .card-header,
    & .card-body a {
      color: white;
    }

    & .card-header{
      border-bottom: 1px solid rgba(255, 255, 255, 0.250);

      & .card-title small .text-success{
        color: var(--bs-success);
      }
    }

    & .card-body,
    & .card-footer {
      border-bottom: unset;
    }

    & .card__view-button {
      background-color: white;
    }
    & .card__view-button {
      color: black;
      font-weight: 600;
    }
  }

}
.card__view-button{
  border-radius: unset;
}

.card-header,
.card-footer {
  background-color: unset;
}
