<section class="container">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h1>Github Issues Searcher</h1>
      <small class="text-muted"
        >By Arturo Casas -
        <a
          href="https://github.com/Artikunazo/github-searcher"
          target="_blank"
          rel="noopener noreferrer"
        >
          Source code
        </a>
      </small>
    </div>
  </div>

  <br />
  <br />

  <div class="row">
    <div class="col">
      <search-bar></search-bar>
    </div>
  </div>

  <div
    class="row results-container mt-3"
    *ngIf="results?.length; else emptyResults"
  >
    <ng-container *ngFor="let result of results">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <card-result [result]="result"></card-result>
      </div>
    </ng-container>
  </div>
</section>

<ng-template #emptyResults>
  <div class="row mt-3">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <strong>
          <i class="fa fa-info-circle"></i>
        </strong>
        <span>
          Para buscar issues dentro de GitHub se puede realizar escribiendo por
          username, branch, o nombre de repositorio, en el campo de búsqueda.
        </span>
      </div>
    </div>
  </div>
</ng-template>
