<form [formGroup]="formSearch" (ngSubmit)="search(formSearch.value.name)">
  <div class="row search-bar__container">
    <div class="col-xs-12 col-md-10">
      <input
        type="text"
        class="form-control search-bar__input"
        placeholder="Search by username, repo name, etc..."
        aria-label="Search..."
        aria-describedby="basic-addon2"
        formControlName="search"
        [ngClass]="{
          'is-invalid':
            !formSearch.controls['search'].valid &&
            formSearch.controls['search'].touched
        }"
        required
      />
    </div>

    <div class="col-xs-12 col-md-2">
      <button
        class="btn btn-primary search-bar__button"
        type="submit"
        [disabled]="loading"
      >
        <i class="fa fa-search"></i>
        Search
      </button>
    </div>
  </div>
</form>

<div *ngIf="loading" class="text-center">
  <spinner></spinner>
</div>
