<form [formGroup]="formSearch" (ngSubmit)="search(formSearch.value.name)">
  <div class="input-group mb-3">

    <input
      type="text"
      class="form-control"
      placeholder="Search by username, repo name, etc..."
      aria-label="Search..."
      aria-describedby="basic-addon2"
      formControlName="search"
      [ngClass]="{
        'is-invalid':
          !formSearch.controls['search'].valid &&
          formSearch.controls['search'].touched
      }"
      required
    />

    <div class="input-group-append">
      <button
        *ngIf="loading"
        class="btn btn-outline-danger"
        type="button"
        (click)="cancelQueue()"
      >
        <i class="fa fa-times"></i>
      </button>

      <button 
        *ngIf="!loading"
        class="btn btn-outline-secondary" 
        type="submit" 
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>

<div *ngIf="loading">
  <spinner></spinner>
</div>
