<form [formGroup]="formSearch" (ngSubmit)="search(formSearch.value.name)">
  <div class="input-group mb-3">

    <input
      type="text"
      class="form-control"
      placeholder="Search by username, repo name, etc..."
      aria-label="Search..."
      aria-describedby="basic-addon2"
      formControlName="name"
      [ngClass]="{
        'is-invalid':
          !formSearch.controls['name'].valid &&
          formSearch.controls['name'].touched
      }"
      required
    />

    <div class="input-group-append">
      <!-- <button
        class="btn btn-outline-danger"
        type="button"
        (click)="cancelQueue()"
        *ngIf="loading"
      >
        <i class="fa fa-times"></i>
      </button> -->

      <button class="btn btn-outline-secondary" type="submit" *ngIf="!loading">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>

<div *ngIf="loading">
  <spinner></spinner>
</div>
