.search-bar__container {
  background-color: white;
  width: 100%;
  padding: 20px 10px;
  height: auto;
}

.search-bar__input,
.search-bar__button {
  border-radius: unset;
  width: 100%;
}

.search-bar__input{
  font-size: 1.2em;
}
