<form [formGroup]="formSearch" (ngSubmit)="search(formSearch.value.name)">
	<div class="row">
		<mat-form-field class="col-12">
			<input
				matInput
				type="text"
				class="form-control search-bar__input"
				placeholder="Search by username, repo name, etc..."
				aria-label="Search..."
				aria-describedby="basic-addon2"
				formControlName="search"
				[ngClass]="{
					'is-invalid':
						!formSearch.controls['search'].valid &&
						formSearch.controls['search'].touched
				}"
				required
			/>
		</mat-form-field>
		<small class="text-muted col-12"
			>To search for issues within GitHub you can do so by typing by username,
			branch, or repository name, in the search field.</small
		>
	</div>
</form>

@if(loading) {
<div class="text-center">
	<spinner></spinner>
</div>
}
